{% extends "base.html" %}
{% block title %}Страница пользователя {{ profile.username }}{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center">Страница пользователя {{ profile.username }}</h1>
  
  <ul class="list-group list-group-horizontal justify-content-center mb-3">
    <li class="list-group-item text-muted">Имя: {{ profile.first_name }}</li>
    <li class="list-group-item text-muted">Фамилия: {{ profile.last_name }}</li>
    <li class="list-group-item text-muted">Имя пользователя: {{ profile.username }}</li>
    <li class="list-group-item text-muted">Регистрация: {{ profile.date_joined }}</li>
    <li class="list-group-item text-muted">Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
  </ul>
  
  {% if user.is_authenticated and user == profile %}
  <div class="text-center mb-4">
    <a class="btn btn-primary me-2" href="{% url 'blog:edit_profile' %}">Редактировать профиль</a>
    <a class="btn btn-secondary" href="{% url 'password_change' %}">Изменить пароль</a>
  </div>
  {% endif %}
  
  <h3 class="mb-5 text-center">Публикации пользователя</h3>
  {% for post in page_obj %}
    <article class="mb-5">{% include "includes/post_card.html" %}</article>
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}